1.Percentage Grade Program

In [11]:
marks=float(input('Pls insert your marks '))  
if marks > 90 and marks < 100: 
    print("You have got Grade A")
elif marks > 80 and marks <= 90:
    print("You have got Grade B")
elif marks >= 60 and marks <=80:
    print("You have got Grade C")
elif marks > 100:
    print('Please insert the valid marks')
else:
    if marks < 60:
        print("you got D Grade")

Pls insert your marks 309
Please insert the valid marks

2.Accept cost proce of bike and display road tax

In [12]:
cost_price = float(input('please insert the cost price of bike : '))
if cost_price > 10000:
    print('Tax collected will be 15% that is ',str(0.15*10000))
elif cost_price > 500000 and cost_price <= 1000000:
    print('Tax collected will be 10% that is ',str(0.10*10000))
elif cost_price <= 500000:
    print('Tax collected will be 5% that is ',str(0.05*10000))

please insert the cost price of bike : 500000
Tax collected will be 15% that is  1500.0

3.Accept city from user and display monument

In [14]:
select_city = str(input("Please Select city : "))
if select_city == 'Delhi':
    print('The monument from Delhi is Red Fort')
elif select_city == 'Agara':
    print('The monument from Agara is Taj Mahal')
elif select_city == 'Jaipur':
    print('The monument from Jaipur is Jaipur')
else:
    print('plese select city from Agara, Delhi,Jaipur')

Please Select city : kahama
plese select city from Agara, Delhi,Jaipur

4.Given number =99 then number can be divided maximum by 3-4

5.While loop is used to repeatedly perform a task untill the condition is true.Else block is optional.
>>it can be used when a set of contitions needs to be repeate.
>>repeate a number of steps finite numbers of time
>>iterate through string, loop, tuple.

>While loop example as below.

In [16]:
num = 1
while num < 10:
    print(num)
    num +=1

1
2
3
4
5
6
7
8
9

In [18]:
#6.Nested While loop
x = 10
y=5
while x > 5:
    print("The Value from first loop",str(x))
    x = x-1
    while y > 3:
        print("The Value from second loop",str(y))
        y = y-1

The Value from first loop 10
The Value from second loop 5
The Value from second loop 4
The Value from first loop 9
The Value from first loop 8
The Value from first loop 7
The Value from first loop 6

In [ ]:
#7.Reverse, while loop