# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.R Language
3.Scala
4.Java

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.numpy
3.Matplotlib
4.plyplot

Data Science Tools
1.R
2.Python
3.SQL

Below are a few examples of evaluating arithmetic expressions in Python :
1.Addition - +
2.Substraction - -
3.Multiplication - *
4.Modulu - %
5.Exponent - **
6.Floor Division - //

In [16]:
#This a simple arithmetic expression to mutiply then add integers

In [17]:
(3*4)+5

17

In [18]:
#Conver minutes into hours
#This will convert 200 minutes to hours by diving by 60
a = 200
b = a/60
print(b)

3.3333333333333335

**Objectives**:
- In this note book we have learn the free tools for data science.
- The most popular languages
- The Arthematic operations.

## Author :
 Samarth Kulkarni