# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.R

2.Python

3.SQL

4.Scala

5.Java

6.C++

7.Julia

8.Go

9.Ruby

10.Visual Basic

Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.Numpy

3.Matplotlib

4.Seaborn

5.Scikit-learn

6.Keras

7.TensorFlow

8.PyTorch

9.Apache Spark

10.Ggplot2

**Data Science Tools**

- Anaconda

- Jupyter Notebook

- R Studio

- Spyder

- Zeppeline

**Below are a few examples of evaluating arithmetic expressions in Python** :

In [22]:
#Addition - +
a = 4
b = 6
c = a + b
print(c)

10

In [23]:
#Substraction
a = 6
b = 4
c = a-b
print(c)

2

In [29]:
#Multiplication - *
a = 2
b = 7
c = a*b
print(c)

14

In [26]:
#Modulu - %
a = 2
b = 7
c = a%b
print(c)

2

In [27]:
#Exponent - **
a = 3
b = 2
c = a ** b
print(c)

9

In [28]:
#Floor Division
a = 3
b = 2
c = a //b
print(c)

1

In [16]:
#This a simple arithmetic expression to mutiply then add integers

In [17]:
(3*4)+5

17

In [18]:
#Conver minutes into hours
#This will convert 200 minutes to hours by diving by 60
a = 200
b = a/60
print(b)

3.3333333333333335

**Objectives**:
- In this note book we have learn the free tools for data science.
- The most popular languages
- The Arthematic operations.

## Author :
 Samarth Kulkarni